.allMovies{
    width: 100%;
}

.heading{
    text-align: center;
    margin-top: 10px;
}

.movieCardContainer{
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.card{
    height: 350px;
    width: 280px;
    display: flex;
}

.card img{
    height: 100%;
    width: 100%;
}


.random {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1.2rem;
    margin-top: 50px;
  }
  
  .cards {
    height: 100%;
    width: 200px;
  }
  
  .cards img {
    height: 100%;
  }
  
  .popularContainer {
    height: 40vh;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
  }
  
  .upcomingContainer {
    height: 40vh;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
  }
  
  .topRatedContainer {
    height: 40vh;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
  }
  
  .comedyContainer {
    height: 40vh;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
  }
  
  .actionContainer {
    height: 40vh;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
  }
  

