.allMovies {
  width: 100%;
}

.heading {
  text-align: center;
  margin-top: 10px;
}

.movieCardContainer {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  height: 350px;
  width: 280px;
  display: flex;
}

.card img {
  height: 100%;
  width: 100%;
}

.random {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.2rem;
  margin-top: 50px;
}

.cardss {
  height: 100%;
  width: 250px;
  border-radius:10px;
  position: relative;
}

.cardss img {
  height: 100%;
  border-radius:10px;
  width: 100%;
}

.popularContainer {
  height: 45vh;
  width: 100%;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2rem;
}

.popularContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.popularContainer::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

.popularContainer::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.upcomingContainer {
  height: 45vh;

  width: 100%;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2rem;
}

.upcomingContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.upcomingContainer::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

.upcomingContainer::-webkit-scrollbar-thumb {
  background-color: orangered; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.topRatedContainer {
  height: 45vh;
  width: 100%;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2rem;
}

.topRatedContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.topRatedContainer::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

.topRatedContainer::-webkit-scrollbar-thumb {
  background-color: orange; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.comedyContainer {
  height: 45vh;
  width: 100%;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2rem;
}

.comedyContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.comedyContainer::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

.comedyContainer::-webkit-scrollbar-thumb {
  background-color: darkgreen; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.actionContainer {
  height: 45vh;
  width: 100%;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2rem;
}

.actionContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.actionContainer::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

.actionContainer::-webkit-scrollbar-thumb {
  background-color: red; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

.movieHeading {
  background-image: linear-gradient(
    to right,
    #08434e,
    #005e5e,
    #00906a,
    #27c056,
    #a8eb12
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


.alert{
  color: white;
  text-align: center;
}


.fonticon{
  color: white;
}


