.navbar{
    height: 11vh;
    width: 100%;
    background-color: rgb(15,17,21);
    color: white;
    display: flex;
}

.iconContainer{
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.iconContainer img{
    height: 80%;
    width: 15%;
}

.inputtContainer{
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.inputtContainer input{
    height: 60%;
    width: 70%;
    background-color: rgb(25,24,31);
    border-radius: 30px;
    border: none;
    padding-left: 15px;
    color: gray;
}

.searchButton{
    height: 60%;
    width: 20%;
    background-color: rgb(25,24,31);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.searchButton button{
    height: 100%;
    width: 100%;
    background-color: rgb(25,24,31);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.logoutContainer{
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    justify-content: space-evenly;
}

.logoutContainer button{
    height: 60%;
    width: 20%;
    background-color: rgb(25,24,31);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.usersDetails{
    font-family: cursive;
}

.usersDetails b{
    color: rgb(13,154,252);
}