.sidebarContainer{
    height: 90vh;
    width: 15%;
    background-color: rgb(15,17,21);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    align-items: center;
    list-style-type: none;
    position: fixed;
    padding-bottom: 20px;
}



.sidebarContainer li{
    cursor: pointer;
}