.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15,17,21);
  position: relative;
}

.App::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.App::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

.App::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}