*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: rgb(15,17,21);
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

#root{
  width: 100%;
}